.d-n-c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 70px;
}

@media (max-width: 720px) {
  .d-n-c {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    text-align: center;
    margin-top: 100px;
  }
}
