body {
  font-family: "Poppins", sans-serif;
}

.u-event {
  margin-top: 70px;
  margin-left: 55px;
}

.e-header {
  margin-bottom: 35px;
  margin-left: 33px;
}

.e-header h1 {
  font-size: 24px;
  color: #163269;
}

.e-header h1::after {
  content: " ";
  position: absolute;
  width: 75%;
  height: 0.15rem;
  background: #e6e6e6;
  top: 14px;
  left: 228px;
}

.u-event .view-e {
  color: #3db166;
  text-decoration: none;
  font-size: 14px;
}

.u-e-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  margin: 0 30px;
  overflow: hidden;
}

.u-e-img {
  overflow: hidden;
}

img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transform: scale(1);
  transition: transform 0.5s ease;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

.u-e-content {
  margin-top: 20px;
  margin-left: 3px;
}

.e-date {
  font-size: 34px;
  line-height: 1;
  display: block;
  color: #50bd77;
}

.e-month {
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  color: #152647;
  margin-top: -15px;
}

.e-title {
  font-size: 19px;
  color: #182847;
  margin-left: 65px;
  margin-top: -78px;
}

.e-time,
.e-place {
  font-size: 13px;
  color: #50bd77;
  margin-left: 65px;
  margin-top: -10px;
}

.e-place {
  margin-top: -16px;
  margin-left: 67px;
}

i {
  padding-right: 8px;
}

@media (max-width: 720px) {
  .u-e-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 0 30px;
    overflow: hidden;
  }
}

@media (min-width: 1300px) {
  .u-event {
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .e-header h1 {
    font-size: 28px;
  }

  .u-event .view-e {
    font-size: 16px;
  }

  .u-e-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    grid-column-gap: 5%;
    overflow: hidden;
  }

  .e-date {
    font-size: 36px;
  }

  .e-month {
    font-size: 18px;
  }

  .e-title {
    font-size: 21px;
  }

  .e-time,
  .e-place {
    font-size: 15px;
    color: #50bd77;
    margin-left: 65px;
    margin-top: -10px;
  }

  .e-header {
    margin-bottom: 35px;
    margin-left: 33px;
  }

  .e-header h1::after {
    content: " ";
    position: absolute;
    width: 85%;
    height: 0.15rem;
    background: #e6e6e6;
    top: 16px;
    left: 260px;
  }
}
