.content2 {
  background-image: url("/src/img/apply4.jpg");
  background-size: cover;
  background-position: 0% 75%;
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding-left: 45px;
}

.content2::before {
  content: " ";
  position: absolute;
  background: rgba(39, 62, 84, 0.82);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
}

.content2 h1,
p,
a {
  position: relative;
}

.content2 h1 {
  font-size: 38px;
  margin-bottom: 28px;
  letter-spacing: 2px;
}

.content2 .p1 {
  font-size: 26px;
  margin-bottom: 26px;
}

.content2 .p2 {
  width: 45vw;
  margin-bottom: 25px;
  font-size: 21px;
}

.content2 .p1::after {
  content: " ";
  position: absolute;
  width: 40%;
  height: 0.3rem;
  background: #3db166;
  top: 30px;
  left: 0px;
}

.content2 .btn:hover {
  color: #fff;
  background-color: #192f59;
}
